

footer{
  height: 200px;
}

ul li{
  list-style: none;
}

/* debug */


.mc-container{
  width: 70%;
  margin: 0 auto;
}


/* VERY CSS */
header{
  background-color: #2B3E50;
}

header .container .row div h3{
  font-size: 1rem;
}

.section-light-green{
  background-color: #19BC9C;
  color: white;
  display: flex;
  align-items: center;
}

.section-white{
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
}

.jumbo-row div h1{
  font-size: 2rem;
}

.jumbo-row div img{
  width: 250px;
}

img{
  max-width: 100%;
}

.my-form input,
.my-form textarea{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.my-form input:focus,
.my-form textarea:focus{
  box-shadow: none;
}

.my-form input ::placeholder,
.my-form textarea::placeholder{
  color: #2b3d4f;
}
.my-button{
  background-color: #1abc9c;
  border: none;
}

.my-button:hover{
  background-color: °137964;
}


/* @media screen and(min-width:576px){
  header .container .row div h3{
    font-size: 5rem ;
  }
} */