[class*='container'],
[class^='col'],
.debug{
  background-color: rgba(0,255,0,.2);
  border: 1px solid black;
  min-height: 100%;
}

header{
  height: 70px;
}

footer{
  height: 200px;
}

ul li{
  list-style: none;
}

/* debug */
.mc-card{
  min-width: 300px;
  min-height: 300px;
}

.mc-container{
  width: 70%;
  margin: 0 auto;
}

.section-light-green{
  background-color: #19BC9C;
  height: 500px;
}

.section-white{
  background-color: white;
  min-height: 700px;
}