/* [class*='container'],
[class^='col'],
.debug{
  background-color: rgba(0,255,0,.2);
  border: 1px solid black;
  height: 100%;
} */

.col{
  height: 100%;
}

header{
  background-color: #2B3E50;
}

footer{
  height: 200px;
}

ul li{
  list-style: none;
}

/* debug */
.mc-card{
  min-width: 300px;
  min-height: 300px;
}

.mc-container{
  width: 70%;
  margin: 0 auto;
}

.section-light-green{
  background-color: #19BC9C;
  height: 500px;
}

.section-white{
  background-color: white;
  min-height: 700px;
}


/* VERY CSS */
header{
  background-color: #2B3E50;
}


/* @media screen and(min-width:576px){
  header .container .row .col h1{
    font-size: 5rem;
  }
} */